name: Build

permissions:
  contents: write
  security-events: write
  actions: write

on:
  push:
      branches:
        - 'main'
      tags:
        - '*'
  pull_request:

jobs:
  build:
    name: "Build, Test, Analyze and Publish"
    runs-on: windows-latest

    env:
      DOTNET_NOLOGO: false

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 10

    - name: Run NUKE
      run: ./build.ps1
      env:
        NuGetApiKey: ${{ secrets.NUGETAPIKEY }}
        GitHubApiKey: ${{ secrets.GITHUB_TOKEN }}

    - name: Check for 'lcov.info' existence
      id: check_files
      uses: andstor/file-existence-action@v3
      with:
        files: "TestResults/reports/lcov.info"

    - name: coveralls
      uses: coverallsapp/github-action@v2
      if: steps.check_files.outputs.files_exists == 'true'
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        file: TestResults/reports/lcov.info

    - name: Upload SARIF file
      uses: github/codeql-action/upload-sarif@v4
      with:
        sarif_file: Artifacts/CodeIssues.sarif

    - name: Upload artifacts
      if: always()
      uses: actions/upload-artifact@v6
      with:
        name: windows-artifacts
        path: |
          ./Artifacts/*
          ./TestResults/*.trx

    - name: Upload ZIP to Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v2
      with:
        files: ./Artifacts/PackageGuard-*.zip
        fail_on_unmatched_files: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-test-results:
    name: "Publish Tests Results"
    needs: [ build ]
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    if: always()

    steps:
    - name: Download Artifacts
      uses: actions/download-artifact@v7
      with:
        path: artifacts

    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      with:
        comment_mode: always
        files: "artifacts/**/**/*.trx"
